body{
    background-color: slategray;
}
#myName{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height:  1%;
}
#profilePic{
    height: 30%;
    width: 55%;

    display: block;
    margin: auto;
    margin-top: 5%;
}
#sideBar{
    background-color: skyblue;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 10%;
}
.infoList{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2.5;
}
.individualList{
    line-height: 1.2;
}


#barContent{
    background-color: powderblue;
    height: 100%;
    width: 60%;
    float: right;
    margin-right: 10%;
}
#contentHeader{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.contentButtons{
    height: 30%;
    width: 30%;
    font-size: 150%;
    border-radius: 20%;
    border: none;
    outline: none;
    background-color: moccasin;
}
.contentButtons:hover{
    background-color: burlywood;
}
.lab3Col1{
  margin-left: 10%; 
    float: left;
}
.lab3Col2{
    margin-right: 10%;
    float: right;
}
.lab3Row1{
    margin-top: 1%;
}
.lab3Row2{
    margin-top: 40;
}

