body{
    background-image: url("https://www.elsetge.cat/myimg/f/43-436793_naruto-pictures-wallpapers-minimalist-naruto-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#headerImg{
    width: 15%;
    height: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#naruto{
    border-radius: 50%;
    width: 10%;
    height: 30%;
}
#narutoBox{
    background-color: darkorange;
    height: 600px;
    width: 100%;
}

.button{
    background-color: blanchedalmond;
    outline:none;
    border-radius: 25px;
}

.button:hover{
    background-color: burlywood;
}

#narutoButton1{
    height: 5%;
    width: 15%;
    position:absolute;
    top: 20%;
    left: 15%;

    font-size: 80%;
}

#narutoButton2{
    height: 5%;
    width: 15%;
    position:absolute;
    top: 20%;
    left: 35%;

    font-size: 80%;
}

#narutoButton3{
    height: 5%;
    width: 15%;
    position:absolute;
    top: 20%;
    left: 55%;

    font-size: 80%;
}

#narutoButton4{
    height: 5%;
    width: 15%;
    position:absolute;
    top: 20%;
    left: 75%;

    font-size: 80%;
}

#narutoBioBox{
    background-color: paleturquoise;
    position: absolute;
    height: 60%;
    width: 80%;
    left: 13%;
    top: 26%;  

    font-size: 35px;
    font-family: sans-serif;
}

#narutoSkillBox{
    background-color: paleturquoise;
    position: absolute;
    height: 60%;
    width: 80%;
    left: 13%;
    top: 26%;  

    font-size: 30px;
}

#narutoGalleryBox{
    background-color: paleturquoise;
    position: absolute;
    height: 60%;
    width: 80%;
    left: 13%;
    top: 26%;  
}

#narutoVideoBox{
    background-color: paleturquoise;
    position: absolute;
    height: 60%;
    width: 80%;
    left: 13%;
    top: 26%;  
}

.show{
    display:block;
}

.hide{
    display: none;
}

.skillImages{
    width: 15%;
    height: 20%;
}

#disclaimer{
    background-color: white;
    width:450px;
    font-weight: bold;
}

.galleryImages{
    width: 30%;
    height: 45%;
}

iframe{
    display: block;
    margin: auto;
    margin-top: 50px;
}

#vidCaption{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
